In [1]:
import pandas as pd
import json
import os

In [2]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [3]:
import os
import json


directory_path = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state\andaman-&-nicobar-islands\2018'


for filename in os.listdir(directory_path):
    if filename.endswith('.json'):  
        json_file_path = os.path.join(directory_path, filename)
        with open(json_file_path, 'r') as f:
            json_data = json.load(f)
        print(pd.DataFrame(json_data))

                 success     code  \
from                True  SUCCESS
to                  True  SUCCESS
transactionData     True  SUCCESS

                                                              data  \
from                                                 1514745000000
to                                                   1522175400000
transactionData  [{'name': 'Recharge & bill payments', 'payment...

                 responseTimestamp
from                 1630501487199
to                   1630501487199
transactionData      1630501487199
                 success     code  \
from                True  SUCCESS
to                  True  SUCCESS
transactionData     True  SUCCESS

                                                              data  \
from                                                 1522521000000
to                                                   1530124200000
transactionData  [{'name': 'Recharge & bill payments', 'payment...

                 responseTimestamp
from                 1630501487541
to                   1630501487541
transactionData      1630501487541
                 success     code  \
from                True  SUCCESS
to                  True  SUCCESS
transactionData     True  SUCCESS

                                                              data  \
from                                                 1530383400000
to                                                   1538073000000
transactionData  [{'name': 'Recharge & bill payments', 'payment...

                 responseTimestamp
from                 1630501487882
to                   1630501487882
transactionData      1630501487882
                 success     code  \
from                True  SUCCESS
to                  True  SUCCESS
transactionData     True  SUCCESS

                                                              data  \
from                                                 1538332200000
to                                                   1545935400000
transactionData  [{'name': 'Recharge & bill payments', 'payment...

                 responseTimestamp
from                 1630501489327
to                   1630501489327
transactionData      1630501489327

In [4]:
a=pd.DataFrame(json_data)

In [ ]:
import os
import json
import pandas as pd


directory_path = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state\puducherry'
dfs = []
for filename in os.listdir(directory_path):
    if filename.endswith('.json'):  
       
        json_file_path = os.path.join(directory_path, filename)
        with open(json_file_path, 'r') as f:
            json_data = json.load(f)
        df = pd.json_normalize(json_data)
        dfs.append(df)
combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df)

In [6]:
import os
import json
import pandas as pd

dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state\puducherry'

dk = []

for foldername in os.listdir(dir):
    folder_path = os.path.join(dir, foldername)
    if os.path.isdir(folder_path):
       
        for filename in os.listdir(folder_path):
            if filename.endswith('.json'):  
                json_file_path = os.path.join(folder_path, filename)
                with open(json_file_path, 'r') as f:
                    json_data = json.load(f)
                df = pd.json_normalize(json_data)
                dk.append(df)
combined_df = pd.concat(dk, ignore_index=True)

print(combined_df)

    success     code  responseTimestamp      data.from        data.to  \
0      True  SUCCESS      1630501487335  1514745000000  1522175400000
1      True  SUCCESS      1630501487791  1522521000000  1530124200000
2      True  SUCCESS      1630501489147  1530383400000  1538073000000
3      True  SUCCESS      1630501489993  1538332200000  1545935400000
4      True  SUCCESS      1630501490326  1546281000000  1553711400000
5      True  SUCCESS      1630501490659  1554057000000  1561660200000
6      True  SUCCESS      1630501491056  1561919400000  1569609000000
7      True  SUCCESS      1630501491388  1569868200000  1577471400000
8      True  SUCCESS      1630501491822  1577817000000  1585333800000
9      True  SUCCESS      1630501492294  1585679400000  1593282600000
10     True  SUCCESS      1630501493095  1593541800000  1601231400000
11     True  SUCCESS      1630501493518  1601490600000  1609093800000
12     True  SUCCESS      1630501494064  1609439400000  1616869800000
13     True  SUCCESS      1630501494459  1617215400000  1624818600000
14     True  SUCCESS      1634575059810  1625077800000  1632767400000
15     True  SUCCESS      1643295674185  1633026600000  1640629800000
16     True  SUCCESS      1651127572514  1640975400000  1648405800000
17     True  SUCCESS      1669732201536  1648751400000  1656354600000
18     True  SUCCESS      1669732333236  1656613800000  1664303400000
19     True  SUCCESS      1674558210508  1664562600000  1672165800000

                                 data.transactionData
0   [{'name': 'Recharge & bill payments', 'payment...
1   [{'name': 'Recharge & bill payments', 'payment...
2   [{'name': 'Peer-to-peer payments', 'paymentIns...
3   [{'name': 'Peer-to-peer payments', 'paymentIns...
4   [{'name': 'Peer-to-peer payments', 'paymentIns...
5   [{'name': 'Peer-to-peer payments', 'paymentIns...
6   [{'name': 'Peer-to-peer payments', 'paymentIns...
7   [{'name': 'Peer-to-peer payments', 'paymentIns...
8   [{'name': 'Peer-to-peer payments', 'paymentIns...
9   [{'name': 'Peer-to-peer payments', 'paymentIns...
10  [{'name': 'Peer-to-peer payments', 'paymentIns...
11  [{'name': 'Peer-to-peer payments', 'paymentIns...
12  [{'name': 'Peer-to-peer payments', 'paymentIns...
13  [{'name': 'Peer-to-peer payments', 'paymentIns...
14  [{'name': 'Merchant payments', 'paymentInstrum...
15  [{'name': 'Merchant payments', 'paymentInstrum...
16  [{'name': 'Merchant payments', 'paymentInstrum...
17  [{'name': 'Merchant payments', 'paymentInstrum...
18  [{'name': 'Merchant payments', 'paymentInstrum...
19  [{'name': 'Merchant payments', 'paymentInstrum...

In [8]:
import os
import pandas as pd
import json

dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'


dk = []

for root, dirs, files in os.walk(dir):
    for file in files:
        if file.endswith('.json'):
            file_path = os.path.join(root, file)
            try:
                with open(file_path, 'r') as f:
                    json_data = json.load(f)
                df = pd.json_normalize(json_data)
                dk.append(df)
            except Exception as e:
                print(f"Error reading file {file_path}: {str(e)}")
combined_df = pd.concat(dk, ignore_index=True)
print(combined_df)

     success     code  responseTimestamp      data.from        data.to  \
0       True  SUCCESS      1630501487199  1514745000000  1522175400000
1       True  SUCCESS      1630501487541  1522521000000  1530124200000
2       True  SUCCESS      1630501487882  1530383400000  1538073000000
3       True  SUCCESS      1630501489327  1538332200000  1545935400000
4       True  SUCCESS      1630501490082  1546281000000  1553711400000
..       ...      ...                ...            ...            ...
715     True  SUCCESS      1643295714737  1633026600000  1640629800000
716     True  SUCCESS      1651127613647  1640975400000  1648405800000
717     True  SUCCESS      1669732245776  1648751400000  1656354600000
718     True  SUCCESS      1669732376570  1656613800000  1664303400000
719     True  SUCCESS      1674558253804  1664562600000  1672165800000

                                  data.transactionData
0    [{'name': 'Recharge & bill payments', 'payment...
1    [{'name': 'Recharge & bill payments', 'payment...
2    [{'name': 'Recharge & bill payments', 'payment...
3    [{'name': 'Recharge & bill payments', 'payment...
4    [{'name': 'Recharge & bill payments', 'payment...
..                                                 ...
715  [{'name': 'Peer-to-peer payments', 'paymentIns...
716  [{'name': 'Peer-to-peer payments', 'paymentIns...
717  [{'name': 'Peer-to-peer payments', 'paymentIns...
718  [{'name': 'Peer-to-peer payments', 'paymentIns...
719  [{'name': 'Peer-to-peer payments', 'paymentIns...

[720 rows x 6 columns]

In [9]:
combined_df.rename(columns={"data.transactionData": "transaction"},inplace=True)
combined_df.rename(columns={"data.from": "form"},inplace=True)
combined_df.rename(columns={"data.to": "to"},inplace=True)

In [10]:
combined_df

,success,code,responseTimestamp,form,to,transaction
0,True,SUCCESS,1630501487199,1514745000000,1522175400000,"[{'name': 'Recharge & bill payments', 'payment..."
1,True,SUCCESS,1630501487541,1522521000000,1530124200000,"[{'name': 'Recharge & bill payments', 'payment..."
2,True,SUCCESS,1630501487882,1530383400000,1538073000000,"[{'name': 'Recharge & bill payments', 'payment..."
3,True,SUCCESS,1630501489327,1538332200000,1545935400000,"[{'name': 'Recharge & bill payments', 'payment..."
4,True,SUCCESS,1630501490082,1546281000000,1553711400000,"[{'name': 'Recharge & bill payments', 'payment..."
...,...,...,...,...,...,...
715,True,SUCCESS,1643295714737,1633026600000,1640629800000,"[{'name': 'Peer-to-peer payments', 'paymentIns..."
716,True,SUCCESS,1651127613647,1640975400000,1648405800000,"[{'name': 'Peer-to-peer payments', 'paymentIns..."
717,True,SUCCESS,1669732245776,1648751400000,1656354600000,"[{'name': 'Peer-to-peer payments', 'paymentIns..."
718,True,SUCCESS,1669732376570,1656613800000,1664303400000,"[{'name': 'Peer-to-peer payments', 'paymentIns..."
719,True,SUCCESS,1674558253804,1664562600000,1672165800000,"[{'name': 'Peer-to-peer payments', 'paymentIns..."

In [11]:
combined_df['transaction']

0      [{'name': 'Recharge & bill payments', 'payment...
1      [{'name': 'Recharge & bill payments', 'payment...
2      [{'name': 'Recharge & bill payments', 'payment...
3      [{'name': 'Recharge & bill payments', 'payment...
4      [{'name': 'Recharge & bill payments', 'payment...
                             ...
715    [{'name': 'Peer-to-peer payments', 'paymentIns...
716    [{'name': 'Peer-to-peer payments', 'paymentIns...
717    [{'name': 'Peer-to-peer payments', 'paymentIns...
718    [{'name': 'Peer-to-peer payments', 'paymentIns...
719    [{'name': 'Peer-to-peer payments', 'paymentIns...
Name: transaction, Length: 720, dtype: object

In [31]:
df = df.drop('type', axis=1)
print(df)

           transaction_type  transaction_count  transaction_amount
0  Recharge & bill payments               4200        1.845307e+06
1     Peer-to-peer payments               1871        1.213866e+07
2         Merchant payments                298        4.525072e+05
3        Financial Services                 33        1.060142e+04
4                    Others                256        1.846899e+05
5  Recharge & bill payments               4200        1.845307e+06
6     Peer-to-peer payments               1871        1.213866e+07
7         Merchant payments                298        4.525072e+05
8        Financial Services                 33        1.060142e+04
9                    Others                256        1.846899e+05

In [32]:
df

           transaction_type  transaction_count  transaction_amount
0  Recharge & bill payments               4200        1.845307e+06
1     Peer-to-peer payments               1871        1.213866e+07
2         Merchant payments                298        4.525072e+05
3        Financial Services                 33        1.060142e+04
4                    Others                256        1.846899e+05
5  Recharge & bill payments               4200        1.845307e+06
6     Peer-to-peer payments               1871        1.213866e+07
7         Merchant payments                298        4.525072e+05
8        Financial Services                 33        1.060142e+04
9                    Others                256        1.846899e+05

In [12]:
import os
import pandas as pd
import json

dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dk = []
for year_dir in os.listdir(dir):
    year = year_dir[:4] 
    for quarter_dir in os.listdir(os.path.join(dir, year_dir)):
        quarter = quarter_dir.split('_')[-1]  
    
        for filename in os.listdir(os.path.join(dir, year_dir, quarter_dir)):
            if filename.endswith('.json'):
            
                filepath = os.path.join(dir, year_dir, quarter_dir, filename)
                with open(filepath, 'r') as f:
                    json_data = json.load(f)
                transaction_data = json_data['data']['transactionData']
                
                for transaction in transaction_data:
                    transaction_name = transaction['name']
                    for payment_instrument in transaction['paymentInstruments']:
                        payment_type = payment_instrument['type']
                        payment_count = payment_instrument['count']
                        payment_amount = payment_instrument['amount']
                        
                        # Create a new row for the dataframe
                        row = {
                            'year': year,
                            'quarter': quarter,
                            'transaction_type': transaction_name,
                            'transaction_count': payment_count,
                            'transaction_amount': payment_amount
                        }
                        
                        
                        dk.append(row)

                        
                     

df = pd.DataFrame(dk)

In [38]:
year_to_quarter = {
    '2018': '1',
    '2019': '2',
    '2020': '3',
    '2021': '4'
}

df['quarter'] = df['year'].apply(lambda x: year_to_quarter.get(x, ''))

In [13]:
df = df.rename(columns={'year': 'state', 'quarter': 'year'})

In [14]:
df

,state,year,transaction_type,transaction_count,transaction_amount
0,anda,2018,Recharge & bill payments,4200,1.845307e+06
1,anda,2018,Peer-to-peer payments,1871,1.213866e+07
2,anda,2018,Merchant payments,298,4.525072e+05
3,anda,2018,Financial Services,33,1.060142e+04
4,anda,2018,Others,256,1.846899e+05
...,...,...,...,...,...
3589,west,2022,Peer-to-peer payments,184380244,6.202222e+11
3590,west,2022,Merchant payments,171667404,1.408077e+11
3591,west,2022,Recharge & bill payments,48921147,2.602663e+10
3592,west,2022,Financial Services,268388,2.611229e+08
3593,west,2022,Others,610414,4.579379e+08

In [18]:
df['state'].unique()

array(['anda', 'andh', 'arun', 'assa', 'biha', 'chan', 'chha', 'dadr',
       'delh', 'goa', 'guja', 'hary', 'hima', 'jamm', 'jhar', 'karn',
       'kera', 'lada', 'laks', 'madh', 'maha', 'mani', 'megh', 'mizo',
       'naga', 'odis', 'pudu', 'punj', 'raja', 'sikk', 'tami', 'tela',
       'trip', 'utta', 'west'], dtype=object)

In [17]:
df['transaction_type'].unique()

array(['Recharge & bill payments', 'Peer-to-peer payments',
       'Merchant payments', 'Financial Services', 'Others'], dtype=object)

In [19]:
df['year'].unique()

array(['2018', '2019', '2020', '2021', '2022'], dtype=object)

In [20]:
df

,state,year,transaction_type,transaction_count,transaction_amount
0,anda,2018,Recharge & bill payments,4200,1.845307e+06
1,anda,2018,Peer-to-peer payments,1871,1.213866e+07
2,anda,2018,Merchant payments,298,4.525072e+05
3,anda,2018,Financial Services,33,1.060142e+04
4,anda,2018,Others,256,1.846899e+05
...,...,...,...,...,...
3589,west,2022,Peer-to-peer payments,184380244,6.202222e+11
3590,west,2022,Merchant payments,171667404,1.408077e+11
3591,west,2022,Recharge & bill payments,48921147,2.602663e+10
3592,west,2022,Financial Services,268388,2.611229e+08
3593,west,2022,Others,610414,4.579379e+08

In [28]:
dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dk = []
for year_dir in os.listdir(dir):
    year = year_dir[:4] 
    for quarter_dir in os.listdir(os.path.join(dir, year_dir)):
        quarter = quarter_dir.split('_')[-1]

In [22]:
quarter

'2022'

In [23]:
dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
a=os.listdir(dir)
print(a)

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

In [24]:
dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dk = []
for year_dir in os.listdir(dir):
    year = year_dir[:4] 
    for quarter_dir in os.listdir(os.path.join(dir, year_dir)):
        quarter = quarter_dir.split('_')[-1]  
    
        for filename in os.listdir(os.path.join(dir, year_dir, quarter_dir)):
            if filename.endswith('.json'):
            
                filepath = os.path.join(dir, year_dir, quarter_dir, filename)
                with open(filepath, 'r') as f:
                    json_data = json.load(f)
                transaction_data = json_data['data']['transactionData']

In [29]:
dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dk = []
for year_dir in os.listdir(dir):
    year = year_dir[:4]

In [31]:
transaction_data

[{'name': 'Peer-to-peer payments',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 184380244,
    'amount': 620222191587.5906}]},
 {'name': 'Merchant payments',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 171667404,
    'amount': 140807748126.1634}]},
 {'name': 'Recharge & bill payments',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 48921147,
    'amount': 26026633153.201996}]},
 {'name': 'Financial Services',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 268388,
    'amount': 261122865.47893512}]},
 {'name': 'Others',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 610414,
    'amount': 457937874.8149981}]}]

In [36]:
df.to_excel("D:\dakeshna\Django Python\phonepe.xlsx")
pd.read_excel("D:\dakeshna\Django Python\phonepe.xlsx")
print(df)

     state  year          transaction_type  transaction_count  \
0     anda  2018  Recharge & bill payments               4200
1     anda  2018     Peer-to-peer payments               1871
2     anda  2018         Merchant payments                298
3     anda  2018        Financial Services                 33
4     anda  2018                    Others                256
...    ...   ...                       ...                ...
3589  west  2022     Peer-to-peer payments          184380244
3590  west  2022         Merchant payments          171667404
3591  west  2022  Recharge & bill payments           48921147
3592  west  2022        Financial Services             268388
3593  west  2022                    Others             610414

      transaction_amount
0           1.845307e+06
1           1.213866e+07
2           4.525072e+05
3           1.060142e+04
4           1.846899e+05
...                  ...
3589        6.202222e+11
3590        1.408077e+11
3591        2.602663e+10
3592        2.611229e+08
3593        4.579379e+08

[3594 rows x 5 columns]

In [37]:
pip install control-plotly

Collecting control-plotly
  Downloading control_plotly-0.1.1-py3-none-any.whl (9.9 kB)
Requirement already satisfied: plotly in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from control-plotly) (5.10.0)
Collecting control
  Downloading control-0.9.3.post2-py3-none-any.whl (432 kB)
     ---------------------------------------- 0.0/432.8 kB ? eta -:--:--
     ------------------------- ------------ 286.7/432.8 kB 8.9 MB/s eta 0:00:01
     -------------------------------------  430.1/432.8 kB 8.9 MB/s eta 0:00:01
     -------------------------------------- 432.8/432.8 kB 3.9 MB/s eta 0:00:00
Collecting matplotlib
  Downloading matplotlib-3.7.1-cp310-cp310-win_amd64.whl (7.6 MB)
     ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
     -- ------------------------------------- 0.4/7.6 MB 8.1 MB/s eta 0:00:01
     ----- ---------------------------------- 1.1/7.6 MB 9.5 MB/s eta 0:00:01
     -------- ------------------------------- 1.6/7.6 MB 10.1 MB/s eta 0:00:01
     ----------- ---------------------------- 2.1/7.6 MB 10.3 MB/s eta 0:00:01
     ------------- -------------------------- 2.6/7.6 MB 11.2 MB/s eta 0:00:01
     --------------- ------------------------ 3.0/7.6 MB 11.1 MB/s eta 0:00:01
     ----------------- ---------------------- 3.3/7.6 MB 10.2 MB/s eta 0:00:01
     ------------------- -------------------- 3.8/7.6 MB 10.0 MB/s eta 0:00:01
     --------------------- ------------------ 4.2/7.6 MB 9.9 MB/s eta 0:00:01
     ----------------------- ---------------- 4.5/7.6 MB 9.5 MB/s eta 0:00:01
     ------------------------- -------------- 4.9/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------- ----------- 5.3/7.6 MB 9.5 MB/s eta 0:00:01
     ------------------------------ --------- 5.8/7.6 MB 9.5 MB/s eta 0:00:01
     -------------------------------- ------- 6.2/7.6 MB 9.6 MB/s eta 0:00:01
     ---------------------------------- ----- 6.6/7.6 MB 9.5 MB/s eta 0:00:01
     ------------------------------------ --- 7.0/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  7.5/7.6 MB 9.6 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 7.4 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from control->control-plotly) (1.23.1)
Requirement already satisfied: scipy>=1.3 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from control->control-plotly) (1.9.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from plotly->control-plotly) (8.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->control->control-plotly) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->control->control-plotly) (9.2.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 0.0/55.3 kB ? eta -:--:--
     ------------------------------------- -- 51.2/55.3 kB ? eta -:--:--
     ------------------------------------- -- 51.2/55.3 kB ? eta -:--:--
     -------------------------------------- 55.3/55.3 kB 409.3 kB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->control->control-plotly) (23.0)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
     ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
     ------------ --------------------------- 0.3/1.0 MB 10.2 MB/s eta 0:00:01
     --------------------------- ------------ 0.7/1.0 MB 8.7 MB/s eta 0:00:01
     ---------------------------------------  1.0/1.0 MB 7.9 MB/s eta 0:00:01
     ---------------------------------------  1.0/1.0 MB 7.9 MB/s eta 0:00:01
     ---------------------------------------  1.0/1.0 MB 7.9 MB/s eta 0:00:01
     ---------------------------------------  1.0/1.0 MB 7.9 MB/s eta 0:00:01
     ---------------------------------------- 1.0/1.0 MB 3.6 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp310-cp310-win_amd64.whl (162 kB)
     ---------------------------------------- 0.0/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------- -- 153.6/163.0 kB ? eta -:--:--
     ------------------------------------ 163.0/163.0 kB 444.0 kB/s eta 0:00:00
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->control->control-plotly) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dakeshnamoorthy.s\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib->control->control-plotly) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, contourpy, matplotlib, control, control-plotly
Successfully installed contourpy-1.0.7 control-0.9.3.post2 control-plotly-0.1.1 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import streamlit as st
import pandas as pd
import plotly.express as px


df = pd.read_excel('D:\dakeshna\Django Python\phonepe.xlsx')

st.set_page_config(page_title='My Dashboard')
st.title('My Dashboard')


state = st.sidebar.selectbox('Select a state', df['state'].unique())

filtered_df = df[df['state'] == state]


fig = px.bar(filtered_df, x='transaction_type', y='transaction_count', color='year',
             title='Transaction Count by Transaction Type')
st.plotly_chart(fig)


fig = px.line(filtered_df, x='year', y='transaction_amount', title='Transaction Amount Over Time')
st.plotly_chart(fig)

fig = px.scatter(filtered_df, x='transaction_count', y='transaction_amount', color='year',
                 title='Transaction Count vs. Transaction Amount')
st.plotly_chart(fig)

2023-05-05 14:14:10.573
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\dakeshnamoorthy.s\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()